@{
    ViewBag.Title = "";
}


       
<div class="container" align="center">
    <h2> CiTiX PERSONAL INFORMATION</h2>
    <div class="form-group has-danger">
        <label class="form-control-label" for="inputDanger1">First Name</label>
        <input type="text" value="First Name" class="form-control is-invalid" id="inputInvalid">
    </div>
    <div class="form-group has-danger">
        <label class="form-control-label" for="inputDanger1">Last Name</label>
        <input type="text" value="Last Name" class="form-control is-invalid" id="inputInvalid">
    </div>
    <div class="form-group has-danger">
        <label class="form-control-label" for="inputDanger1">First Name</label>
        <input type="text" value="Id Number" class="form-control is-invalid" id="inputInvalid">
    </div>
</div>





